.output-content .lvl3-parent {
  display: flex;
  gap: 10px;
}

.output-content  .box {
  width: 100%;
  aspect-ratio: 1;
  color: white;
  display: grid;
  place-items: center;
}


.box1{
    background-color: #2e3b7a;

}

.box2{
    background-color: #f37736;

}
.box3{
  background-color: #aaaaaa;

}

.box4{
  background-color: #ff6f69;
}